/* 全局樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
}

body {
  color: #333;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Phaser 遊戲容器 */
.phaser-game-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}